---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Body from "../components/Body.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import HomePiece from "../components/HomePiece.astro";
import AboutSection from "../components/AboutSection.astro";
import InfiniteScroller from "../components/InfiniteScroller.astro";
import Projects from "../components/Projects.astro";

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<meta charset="UTF-8" />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main>
			<a class="absolute top-0" id="Logo"></a>
			<HomePiece />
			<AboutSection />

			<h1
				class="text-nav-blue dark:text-jade font-orb font-bold text-center mb-8 mt-4 text-2xl underline decoration-dark-pele dark:decoration-pele"
			>
				<a id="Title2"></a>Tech Stack
			</h1>
			<InfiniteScroller />
			<div class="md:w-3/5 m-auto">
				<h3 class="mb-7 mx-4 indent-8 tracking-tight text-left"></h3>
			</div>
			<div class="block h-2 w-full bg-light-blue mb-10"></div>
		
			<h1
				class="text-pele dark:text-dark-pele font-orb font-bold text-center m-4 text-2xl"
			>
				Still in Development
			</h1>
			<section></section>
			<Projects/>
			
		</main>
		<Footer />
	</Body>
</html>
