
<footer class="font-mich text-lg text-center p-4 bg-jade bg-opacity-50 border-t-4 border-dark-pele dark:border-pele">
	<p>&copy; 12/2022 PNFC.</p>
	<p class="mt-6 text-sm"> Built with <img class="w-[50px] inline ml-2" src="/astro.svg" /></p>	
	<div class="inline-flex">
		<p class="font-normal text-xs pointer-events-none mx-2">Inspired by </p><p></p>
		<a 
			class="  hover:text-dark-pele dark:hover:text-pele italic"
			target="_blank"
			href="https://blog.inkdrop.app/"> Takuya Matsuyama</a>
	</div>

</footer>
 