<section class="relative mb-6 h-80 flex justify-center items-center">
    <div class="absolute w-full h-full overflow-hidden">
        <video
            class="absolute h-auto left-1/2 top-1/2 min-w-full min-h-full object-cover -translate-x-1/2 -translate-y-1/2 opacity-30"
            autoplay="autoplay"
            loop="loop"
        >
            <source src="/1stPortfolio/Keyboard.mp4" type="video/mp4" />
        </video>.
        <div
        class=" absolute top-[50%] left-[50%] translate-y-[-80%] translate-x-[-50%]  h-40 w-40 border-8 items-center grid grid-rows-2 grid-cols-2 text-center font-orb dark:text-blue-50 font-semibold text-6xl "
    >
        <h2>P</h2>
        <h2 class="text-dark-pele dark:text-pele">N</h2>
        <h2 class="text-dark-pele dark:text-pele">F</h2>
        <h2 >C</h2>
    </div>
    </div>
    <div class="absolute bottom-0 flex-col z-10 text-center px-8 drop-shadow-lg items-center shadow-black ">
        <div class="uppercase text-sm m-1   ">Welcome</div>
        <div class="text-4xl font-orb font-medium mb-2">
            This is Pedro's <p class="inline-flex text-sm align-text-top mr-[-6 px]">1st</p> 
            <span class="text-dark-pele dark:text-pele">
                <a 
                class="hover:text-nav-blue dark:hover:text-jade"
                href="#Title2">Portfolio</a></span>
        </div>
    </div>
</section>
